body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: auto;
  max-width: 1000px;
  
}

a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.list ul {
  text-decoration: circle;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
  text-decoration-color: ciercle;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.anchors ul {
    list-style: none; 
    padding-left: 5px; 
}

.sidebar {
    border-right: solid 1px #cdcdcd;
}

.sidebar ul {
    list-style: none; padding-left: 5px; 
}

.capa {
  margin: 0;
  align-items: center;
}
figure {
    text-align: left;
}
.table thead th {
  background-color: #00B5FF;
  text-align: center;
  width: 100%;
}

.table thead td {
  background-color:  #f1f1f1;
  text-align: left;
}

.table tbody th {
  background-color: #00B5FF;
  text-align: center;
  width: 100%;
}

.table tbody td {
  background-color:  #f1f1f1;
  text-align: left;
}

.table tfooter th {
  background-color: #00B5FF;
  text-align: center;
  width: 100%;
}

.table tfooter td {
  background-color:  #f1f1f1;
  text-align: left;
}

.logo-text {
  align-items: center;
  height: 110px;
  width: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.menu ul li a {
  padding: 10px 15px;
  text-align: left;
  color: black;
  background-color: darkgray;
  text-decoration: none;
}

.menu nav ul li a:hover {
  padding: 10px 15px;
  color: #e9e9e9;
  text-decoration: none;
  background-color: #00B5FF;
}

.elenco {
  align-items: center;
  text-align: center;
}
  